# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Metro
.metro/
.watchmanconfig

# Android
android/app/build/
android/build/
android/.gradle/
android/.cxx/
android/app/debug.keystore
local.properties

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/DekhoSabKuch.xcworkspace/

# macOS
.DS_Store

# Logs
*.log

# Env files
.env
.env.local
.env.development
.env.production

# Ruby / CocoaPods
vendor/
.bundle/

ios/build/

android/app/.cxx/
android/.cxx/
android/build/
android/app/build/
# Android build files
android/.cxx
android/app/.cxx
android/build